<ion-header>
	<ion-toolbar class="bg-img">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-row>
			<ion-col>
				<p class="text-deal">About Us</p>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-card>
		<ion-card-content>
			<p>
				The Discount India is a trusted brand of more than 5000 customers presents the amazing mobile application for discounting the voucher.  We are known for maintaining high standards of servicing through our unique user interface and user experience. We have been sustaining and preserving our USP, which is to provide the most authentic and updated coupons and deals. Today, The Discount India is the top player in the coupons and deals industry. The Discount India offers the win-win situation to its clients by giving the complimentary offers in the booklet along with the discount voucher.
			</p>
			<p>
				We will make you to save on every deal.
				Features of The Discount India Mobile Application		
			</p>
			<ul>
				<li>1. 	No need to carry physical booklet.</li>
				<li>2.  Sharing of Customer Id and Voucher ID with near and dear ones to use vouchers.</li>
				<li>3.  User can subscribe to the plans according to its use and preferences.</li>
				<li>4.  Inbuilt call facility in application to arrange direct call to Customer Care and Merchant for assistance in booking.</li>
			</ul>
			<p>
				Through our business partnership programs, we help our associate companies to increase its revenue, create brand awareness and expand its reach. Our network includes a wide range of merchants and strategic companies
			</p>
		</ion-card-content>
	</ion-card>
</ion-content>