<ion-header>
	<ion-toolbar class="bg-img">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-row>
			<ion-col>
				<p class="text-deal">Voucher Details</p>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<!-- (click)="getVoucher(VR.voucher_details.voucher_unique_id)" -->
		<ion-item *ngFor="let VR of voucherDetails" >
         	<ion-label>
            	<h2>{{ VR.voucher_details.offer.title }}</h2>
				<h3>{{ VR.voucher_details.title }}</h3>
				<p>{{ VR.voucher_details.created_at }}</p>
			</ion-label>
        </ion-item>
	</ion-list>
	<ion-list>
		<!-- (click)="getVoucher(VR.voucher_details.voucher_unique_id)" -->
		<ion-item *ngFor="let VR of voucherPaidDetails" >
         	<ion-label>
            	<h2>{{ VR.voucher_details.offer.title }}</h2>
				<h3>{{ VR.voucher_details.title }}</h3>
				<p>{{ VR.created_at }}</p>
			</ion-label>
        </ion-item>
	</ion-list>
</ion-content>
<app-footer-tabs></app-footer-tabs>