<ion-content class="bg-img">
	<div class="image">
		<img padding src="../../assets/logo.png">
	</div>
	
	<form class="m-form" padding autocomplete="off">
		<ion-item class="passwrd">
			<ion-label position="floating"> Password </ion-label>
			<ion-input [(ngModel)]="password" name="password" ></ion-input>
			<ion-icon item-right name="key"></ion-icon>
		</ion-item>
		<ion-item class="passwrd">
			<ion-label position="floating"> Confirm Password </ion-label>
			<ion-input [(ngModel)]="confirmPassword" name="confirmPassword" ></ion-input>
			<ion-icon item-right name="key"></ion-icon>
		</ion-item> 
	</form>
	<div padding>
		<ion-button size="medium" expand="block"  disable-hover (click)="changrPassword()">change password</ion-button>
	</div>
</ion-content>