<ion-header>
	<ion-toolbar class="bg-img">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-row>
			<ion-col size="12">
				<p class="text-deal">Plan Details</p>
			</ion-col>
		</ion-row>
		<ion-buttons slot="end">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-row>
			<ion-row style="width: 100%;">
				<ion-col size="12">
					<div [innerHTML]="details" style="font-size: 18px;"></div>
				</ion-col>
				<ion-col size="12" >
					<ion-button color="success" style="float: right;" (click)="buyNowPlan(planDetails)">Buy Now</ion-button>
				</ion-col>
			</ion-row>
		</ion-row>
	</ion-card>
</ion-content>
<app-footer-tabs></app-footer-tabs>