<ion-header>
	<ion-toolbar class="bg-img">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-row>
			<ion-col>
				<p class="text-deal">Terms and condition</p>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        
        <ion-card-content>
            <h3>NO VERBAL COMMITMENT ACCEPTED...</h3>
            <h4>Please read these rules carefully to avoid misunderstanding..</h4>
            <ul>
				<li>1. Offer valid till 1 year from date of issue.</li>
				<li>2.  Advance booking for any service in saloon..</li>
				<li>3.  Not to be combined with any other offer or promotions.</li>
				<li>4.  Menu items and prices are subject to change without prior notice.</li>
				<li>5.  In case of any misunderstanding, the decision of the outlet manager will be final.</li>
				<li>6.  Taxes and govt. Levies extra as applicable.</li>
				<li>7.  All the food coupons are valid for dining-in-only.</li>
				<li>8.  Coupons will not be valid for packing and home delivery.</li>
				<li>9.  Offer is not valid for half dishes & sea food.</li>
				<li>10.  Discount coupon offer is valid for maximum 10/15 people in the restaurant.</li>
				<li>11.  In case of any restaurant gets closed- down/ management changed due to any reason Discount India has got no legal binding or responsibility towards customers for this offer.</li>
				<li>12. This offer is not valid on 15 August, 2nd October, Dushehra, 25th Dec, 31st Dec, 14 Feb..</li>
				<li>13.  Customer can use only one coupon on one table in one billing.</li>
				<li>14.  Please announce the use of coupon before placing the order, or else bill once made will not be changed..</li>
            </ul>
        </ion-card-content>
      </ion-card>
</ion-content>
