ion-content
{
 	// background: url('../assets/Ist-backbg.jpg');
 	--background: url(../../assets/Ist-backbg.jpg) no-repeat center/cover;
	height: auto;
}
.image {
	width: 55%;
    margin: 0 auto;
    padding-top:30px;
}
.m-form
{
	padding:20px;
}
.email,.passwrd{
	--background: none;
	padding-bottom:25px;
}
ion-button{
	--background: #c7af83;
	text-transform: none;
}
.btn-hvr:hover{
	--background: #c7af83!important;
}
.forgot-p a{
	color: #c7af83;
}
ion-icon{
	color: #c7af83;
	font-size:20px;
	position: absolute;
    right: 15px;
    top: 17px;
}
footer p{
	color:#fff;
}
ion-label{
	color:#c7af83;
}
.label-floating.sc-ion-label-md-h{
	color: #c7af83;
}
.item-label-floating .sc-ion-input-md-h{
	border-bottom: 1px solid #c7af83;
}
ion-item{
	--highlight-color-focused:none;
}
ion-input{
	--color:#fff;
}
footer ul li{
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	color: #c7af83;
	font-size: 20px;
}
.support{
	li{
		padding: 0;
		margin: 0;
		font-size: 18px;
		a{
			font-size: 20px;
			color: white;
			text-decoration: none;
		}
	}
}