<ion-content class="bg-img">
    <div class="image">
        <img padding src="../../assets/logo.png">
    </div>
    <div class="error" *ngIf="hasValidationError != null">
        <ul class="errors" *ngFor="let error of hasValidationError">
            <li>{{ error }}</li>
        </ul>
    </div>
    <form class="m-form" padding>
    	<ion-item class="email">
            <ion-label position="floating"> User Name </ion-label>
            <ion-input [(ngModel)]="username" name="username"></ion-input>
            <ion-icon item-right name="person"></ion-icon>
        </ion-item>
        <ion-item class="email">
            <ion-label position="floating"> Mobile Number </ion-label>
            <ion-input [(ngModel)]="mobile" name="mobile"></ion-input>
            <ion-icon slot="end" name="phone-portrait"></ion-icon>

            <span style="left: 15px;padding: 0px !important; margin-top: 40px;" slot="start">+91</span>
        </ion-item>
        <ion-item class="email">
            <ion-label position="floating"> Email Id</ion-label>
            <ion-input [(ngModel)]="email" name="email"></ion-input>
            <ion-icon item-right name="mail"></ion-icon>
        </ion-item>
        <ion-item class="passwrd">
            <ion-label position="floating"> Password </ion-label>
            <ion-input [(ngModel)]="password" name="Password" type="password"></ion-input>
            <ion-icon item-right name="key"></ion-icon>
        </ion-item> 
        <!-- <p class="forgot-p" float-right><a href="#">Forgot Password</a></p> -->
    </form>
    <ul class="termsAndCon">
        <li><ion-checkbox slot="end" [(ngModel)]="isChecked"></ion-checkbox></li>
        <li (click)="terms()" style="font-size: 20px;color: #c7af83;margin-left: 10px;">Terms and Condition</li>
    </ul>
    <div padding>
        
        <ion-button size="medium" expand="block" class="btn-hvr" (click)="checkRegsiterValidation()" disable-hover>Register </ion-button>
    </div>
    <div padding>
        <ion-button size="medium" expand="block" (click)="login()">Back to Login</ion-button>
    </div>
    <!-- <footer>
        <p text-center> ⓒ All Days Deal Pvt.Ltd.</p>
    </footer> -->
</ion-content>